{
  "globals": {
    "React": true,
    "ReactDOM": true,
    "Promise": true
  },
  "extends": ["airbnb-base/legacy", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "space-before-function-paren": [2, "never"]
  }
}
