body {
    background: #E9EAEC;
    background-color: #E9EAEC;
}

.reveal .title h1 {
    margin-bottom: 0;
}
.reveal section img {
    border: none;
    box-shadow: none;
}
#powered {
	position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 0;
}
.reveal table th, .reveal table td {
    text-align: center;
}