{
  "env": {
    "browser": true,
    "amd": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "global-require": 0,
    "space-before-function-paren": [2, "never"],
    "comma-dangle": ["error", "never"]
  }
}
